<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />
<!-- 	控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level
				%logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/HSearch/tmp/logs/hsearch.log</file>
		<encoding>UTF-8</encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/HSearch/tmp/logs/hsearch.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<MaxHistory>20</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level
				%logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="DEBUG" />

	<!-- itets modules -->
	<logger name="com.sgm.hsearch" level="DEBUG" />

	<!-- root -->
	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>